APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

VITE_APP_NAME="${APP_NAME}"



GEMINI_API_KEY=

YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REFRESH_TOKEN=

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=

OPENAI_API_KEY=
IMAGE_GENERATION_RETRY_MS=5000
IMAGE_GENERATION_RETRIES=7

REPLICATE_API_TOKEN=

GROQ_API_KEY=
GROQ_TEXT_MODEL=llama3-70b-8192

VOICE_DRIVER=pollinations
IMAGE_DRIVER=pollinations
TEXT_DRIVER=gemini

POLLINATIONS_WIDTH=1920
POLLINATIONS_HEIGHT=1080
POLLINATIONS_MODEL=turbo
POLLINATIONS_VOICE=alloy

POLLINATIONS_API_KEY=

GEMINI_TEXT_MODEL=gemini-2.5-flash-lite

VIDEO_MIN_LENGTH_MINUTES=7
VIDEO_MAX_LENGTH_MINUTES=15
SCENE_COUNT=5
SCENE_DURATION_MS=15000